<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
   

</head>
<section name = "form">
  <h2> Settings Form <h2>
  <form id="form" method="POST" action="#">
        {% csrf_token %}
        {{ settings_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


</html>
