@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.yellow {
	background-color: #F0E68C;
}

.blue {
	background-color: #87C7D7;
}

#btnIn {
	grid-column: 1;
	grid-row: 5;
}

.width {
	max-width: 125px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	padding: 1px 6px;
	grid-column: 2;
	grid-row: 5;
	text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.btn {
	font-family: inherit;
	font-size: 16px;
}

body {
	font-family: "Montserrat";
}

.red {
	color: red;
	margin-bottom: 0;
	margin-top: 0;
}

.box {
	top: 125px;
	position: relative;
	margin: auto;
	line-height: 1.5;
	border: 2px black solid;
	border-radius: 15px;
	width: 500px;
	height: 350px;
	background-color: white;
}

.img {
	padding-top: 30px;
	max-height: 75px;
}

.center {
	text-align: center;
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	grid-column: 1 / 3;
}

#signin {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.up {
	height: 400px;
}

.right {
	grid-column: 2;
	float: right;
}

#signup {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.fill {
	padding: 20px 60px;
}

.kosong {
	padding-top: 20px;
	border-bottom: 2px black solid;
}

label {
	grid-column: 1;
}

.field {
	grid-column: 2;
}

#send {
	grid-row: 3;
	grid-column: 1 / span 2;
}

#dash {
	display: grid;
	grid-template-rows: 87px 1fr;
	grid-template-columns: 3fr 1fr;
	margin: 0;
}

.left {
	float: left;
	margin: auto 20px;
}

.bar {
	display: inline;
	margin: auto 10px;
	text-decoration: none;
	float: right;
	color: black;
}

.bar:hover {
	color: blue;
}

#navbar {
	margin-left: auto;
	margin-right: auto;
	height: 87px;
	border-bottom: 2px black solid;
	width: 100%;
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#items {
	padding: 20px;
	position: sticky;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#orders {
	position: sticky;
	padding-top: 20px;
	text-align: center;
	color: white;
	font-weight: 700;
	background-color: #37383C;
	grid-column: 2;
	height: 550px;
}

.ord {
	border: 1px white solid;
	height: 75px;
	width: 70%;
	margin: 20px auto;
}

.subs {
	border: 1px black solid;
	height: 75px;
	width: 80%;
	margin: 20px auto;
}