<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{{ username }}</title>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
</head>
<body id="dash">
	<div id='navbar'>
		<h2 class="left">{{ username }}</h2>
		<img src="{% static 'image/Logo-item.png' %}" class="bar">
		<div class="bar">
			<a class="bar" href="">Logout</a>			
			<a class="bar" href="">Help</a>
			<a class="bar" href="{% url 'index' %}">Settings</a>
			<a class="bar" href="">Subscribe</a>
		</div>
	</div>

	<div id='items'>
		
			<div class="subs">
			</div>
			<div class="subs">
			</div>
		
	</div>

	<div id="orders">
		Orders
		
			<div class="ord">
			</div>
			<div class="ord">
			</div>
		
	</div>
</body>
</html>