<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Forgot Your Pass?</title>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
</head>
<body class="blue">
	<div class="box">
		<div class="kosong">
		</div>
		<img src="{% static 'image/Logo-yellow.png' %}" class="img center">
		<p class="center red">{{ response }}</p>
		<div class="fill">
			<form id="signin" method="POST" action="{% url 'forgot' %}">
				{% csrf_token %}
				<label>Email</label> {{ form.email }}
				<br>
				<button id="send" type="Submit" class="btn width">Send</button>
			</form>
		</div>
	</div>
</body>
</html>