<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Sign Up</title>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
</head>
<body class="blue">
	<div class="box up">
		<div class="kosong">
		</div>
		<img src="{% static 'image/Logo-yellow.png' %}" class="img center">
		<p class="center red">{{ response }}</p>
		<div class="fill">
			<form id="signup" method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				<label>Username</label> {{ form.username }}
				<br>
				<label>Email</label> {{ form.email }}
				<br>
				<label>Password</label> {{ form.password }}
				<br>
				<label>Confirm Password</label> {{ form.confirm }}
				<br>
				<button type="Submit" class="btn center">Sign up</button>
			</form>
		</div>
	</div>
</body>
</html>