<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Sign In</title>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
</head>
<body class="yellow">
	<div class="box">
		<div class="kosong">
		</div>
		<img src="{% static 'image/Logo-biru.png' %}" class="img center">
		<p class="center red">{{ response }}</p>
		<div class="fill">
			<form id="signin" method="POST" action="{% url 'signin' %}">
				{% csrf_token %}
				<label>Email</label> {{ form.email }}
				<br>
				<label>Password</label>	{{ form.password }}
				<br>
				<button id="btnIn" type="Submit" class="btn width">Sign in</button>
				<a href="{% url 'signup' %}" class="button width">Sign up</a>
			</form>
			<a href="{% url 'forgot' %}" class="center">Forgot your password?</a>
		</div>
	</div>
</body>
</html>